
<div class="row">
  <div class="large-4 columns">
    <form action='/login' method='post'>
      <label for='username'>Username</label>
      <input type='text' id='username' name='username' />

      <label for='password'>Password</label>
      <input type='password' id='password' name='password' />

      <input type='submit' class='button' value='Login' />
    </form>
  </div>
</div>
